@font-face {
    font-family: 'Unbounded'; /* اسم الخط اللي هتستخدمه */
    src: url('../../Assets//Font/Unbounded-VariableFont_wght.ttf') format('truetype');
  }
@font-face {
    font-family: 'roboto'; /* اسم الخط اللي هتستخدمه */
    src: url('../../Assets//Font/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  }

$color1:#fff;
$color2:#dd42fa;
$color3:#eebb66;
$color4:#ff8039;
$color5:#171717;

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-center{
    display: flex;
    justify-content: start;
    align-items: center;
}
.start-column{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.center-start{
    display: flex;
    justify-content: center;
    align-items: start;
}
.center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.between-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.between-start-column{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    
}
.between-start{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    // flex-direction: column;
}
.homePage{
    width: 85%;
    @extend .center-column
}
.homeHero{
    width: 100%;
    height: 100vh;
    @extend .between
}
.homeHero .text {
    width: 50%;
    @extend .between-start-column;
    height: 40%;
}
.homeHero .text p:nth-child(1){
    color: $color1;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    font-weight: 700;
    @extend .between-start;
    width: 85%;
    font-family: 'Unbounded', sans-serif;

}
.homeHero .text p:nth-child(1) span{
    color: $color3;
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    font-family: 'Unbounded', sans-serif;

}
.homeHero .text p img{
    width: 10%;
}
.homeHero .text p:nth-child(2){
    font-size: 20px;
    // text-transform: capitalize;
    color: $color1;
    line-height: 30px;
    width: 95%;
    // text-align: start;
}
.homeHero > img{
    width: 50%;
}
.homePage > img{
        align-self: self-end;
        margin-right: 5%;
        margin-block: 10vh;
}

.homePage .visions{
    @extend .between-column;
    width: 100%;
    height: 80vh;
    position: relative;
}
.homePage .visions .visionsHead{
    font-family: 'Unbounded';
    font-size: 50px;
    font-weight: 600;
    color: $color1;
}
.homePage .visions .visionsHead span{
    color: $color3;
    font-family: 'Unbounded';
    font-size: 50px;
    font-weight: 600;
}
.homePage .sideVector{
    position: absolute;
    top: 50%;
    left: -6%;
    transform: translate(-50%,-50%);
    width: 5%;
}

.homePage .visions .visionsCont{
    @extend .between;
    width: 100%;
    height: 70%;
    z-index: 2;
    // border: 1px solid $color2;
}

.homePage .circleCont{
    width: 100%;
    height: 100vh;
    @extend .between;
}
.homePage .circleCont .leftCont{
    width: 55%;
    @extend .between-column;
    height: 90%;
}
.homePage .circleCont .leftCont .heading{
    width:100% ;
    height: 35%;
    @extend .between-start-column;
    color: $color1;
    // gap: 20px;
}
.homePage .circleCont .leftCont .heading .title{
    width: 90%;
}
.homePage .circleCont .leftCont .heading .title,
    .homePage .circleCont .leftCont .heading .title span{
    // color: $color1;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Unbounded', sans-serif;

}
.homePage .circleCont .leftCont .heading .title span{
    color: $color3;
}
.homePage .circleCont .leftCont .heading .text{
    font-size: 22px;
    width: 80%;
    line-height: 30px;
}
.homePage .circleCont .leftCont .circleComps{
    width: 100%;
    height: 55%;
    @extend .between;
    flex-wrap: wrap;
}
.homePage .circleCont > img{
    width: 35%;
    height: 100%;
    object-fit: contain;
}
.homePage .spotsCont{
    width: 100%;
    height: 100vh;
    @extend .between;
}

.homePage .spotsCont .leftCont{
    width: 55%;
    height: 90%;
    @extend .between;
}
.homePage .spotsCont .rightCont{
    width: 40%;
    height: 50%;
    @extend .between-start-column;
}

.homePage .spotsCont .rightCont p:nth-child(1){
    width: 45%;
}
.homePage .spotsCont .rightCont p:nth-child(2){
    font-size: 50px;
    font-weight: 600;
    font-family: 'Unbounded', sans-serif;
    color: $color1;
    width: 80%;
}
.homePage .spotsCont .rightCont  p:nth-child(2) span{
    color: $color3;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Unbounded', sans-serif;
    
}
.homePage .spotsCont .rightCont  p:nth-child(3){
    font-size: 20px;
    line-height: 30px;
    width: 90%;
    color: $color1;
    width: 90%;


}
.homePage .spotsCont .rightCont  a{
    text-transform: capitalize;
    color: $color1;
    background-image: linear-gradient(to right, $color3 , $color2);
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    transition: .3s;
}
.homePage .spotsCont .rightCont  a:hover{
    color: $color5;
    background-image: linear-gradient(to right, $color1 , $color1);

}