$color1:#fff;
$color2:#dd42fa;
$color3:#eebb66;
$color4:#ff8039;
$color5:#000;
.start-center{
    display: flex;
    justify-content: start;
    align-items: center;
}
.smallHead{
    text-transform: uppercase;
    font-weight: 600;
    @extend .start-center;
    gap: 5px;
    width: 180px;
    font-family: 'roboto', sans-serif;
    color: $color1;

}
.smallHead img{
    width: 20%;
    height: 2.5cap;
}