$color1:#fff;
$color2:#dd42fa;
$color3:#eebb66;
$color4:#ff8039;
$color5:#171717;
@font-face {
    font-family: 'Unbounded'; /* اسم الخط اللي هتستخدمه */
    src: url('../../Assets//Font/Unbounded-VariableFont_wght.ttf') format('truetype');
  }
@font-face {
    font-family: 'roboto'; /* اسم الخط اللي هتستخدمه */
    src: url('../../Assets//Font/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  }
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-center{
    display: flex;
    justify-content: start;
    align-items: center;
}
.start-column{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.center-start{
    display: flex;
    justify-content: center;
    align-items: start;
}
.center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.between-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.between-start-column{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    
}
.between-start{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    // flex-direction: column;
}
.spotsComp{
    @extend .between-start-column;
    width: 40%;
    height: 35%;
    border: 2px solid #fff;
    padding: 3% 3% 3% 3%;
    position: relative;
    background-color: $color5;
    transform-style: preserve-3d;
    // transition: transform 0.15s ease;
    perspective: 1000px;
}
.spotsComp:nth-child(1),
.spotsComp:nth-child(3){
    align-self: self-start;
}
.spotsComp:nth-child(2),
.spotsComp:nth-child(4){
    align-self: self-end;
}


.spotsComp img{
    width: 20%;

}
.spotsComp .head{
    color: $color1;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-weight: 600;
    // z-index: 2;
}
.spotsComp .text{
    color: $color1;
    font-size: 14px;
    line-height: 20px;
    // z-index: 2;
}
